Final_Flow_Orchestrator (1).json
{
  "name": "Final_Flow_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Master planner for the Orchestrator. Builds one item per (persona, scenario)\n// job, identical to the shape the old B/C planners produced. Each item will\n// be sent to ONE Worker execution. The Worker then does Phase B+C+D for it.\n//\n// Respects exactly the same Config flags as before:\n//   TIKTOK_ID         - target one or many accounts (comma-separated handles)\n//   ONE_PER_PERSONA   - true: every persona / false: only personas with no video\n//   MAX_VIDEOS_PER_RUN - scenarios per persona this run\nconst cfg = $('Config1').first().json;\nconst H = { apikey: cfg.SUPABASE_SECRET };\n\n// Same scenario library as before\nconst SCENARIOS = [{\"id\": \"gym_post_workout_mirror_01\", \"category\": \"gym\", \"archetype\": \"held_with_phone\", \"difficulty\": \"hard\", \"scene\": \"Modern commercial gym with a large floor-to-ceiling mirror wall; treadmills and cable machines softly out of focus behind the subject; large windows letting in late-afternoon golden-hour light; polished concrete floor.\", \"outfit\": {\"style_brief\": \"Matte black athletic set, minimal warm-metal jewellery, no-makeup freshness, post-workout polish.\", \"female\": \"Matte black ribbed seamless sports bra with thin straps, matching high-waist seamless black leggings, low black ankle socks, no shoes. Hair styled in a slick high ponytail with a few face-framing pieces left loose. Small gold huggie hoops, a touch of lip gloss, otherwise bare glowing skin.\", \"male\": \"Matte black fitted sweat-wicking training tank, matching black mid-thigh training shorts with a compression liner, low black ankle socks, no shoes. Hair styled neatly and pushed back off the face, lightly damp. A simple thin chain, clean groomed look.\"}, \"pose\": \"Standing facing the mirror at a slight three-quarter angle, weight on one hip, the opposite foot slightly forward, posture relaxed and confident, a soft smile.\", \"hand_assignment\": {\"phone_hand\": \"left\", \"product_hand\": \"right\", \"free_hand_action\": \"the left hand holds the phone at face level, capturing the mirror reflection\"}, \"grip_or_placement\": \"Right hand at upper-chest level: thumb on the front face of the box near the top edge, index and middle fingers on the back of the box, ring and pinky tucked under, box angled forty-five degrees toward the mirror so the front face is clearly visible in the reflection.\", \"lighting\": \"Mixed gym lighting - cool overhead fluorescents combined with warm window backlight from late-afternoon sun behind the subject. Subtle rim light on shoulders and hair, neutral light on the box with a warm window-side rim.\", \"mood\": \"post-workout earned, lightly winded, composed\", \"palette\": \"bone white, concrete grey, warm window glow, charcoal black\", \"framing\": \"medium full (mid-thigh up)\", \"camera_height\": \"chest level\"}, {\"id\": \"gym_treadmill_water_break_02\", \"category\": \"gym\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"Quiet corner of a premium gym; a single treadmill stationary in the background; soft natural daylight from a side window; polished wood floor area; a folded white gym towel draped over the treadmill handlebar.\", \"outfit\": {\"style_brief\": \"Sage-green athleisure, soft and tonal, a relaxed mid-workout pause, minimal gold accent.\", \"female\": \"Sage green long-sleeve cropped athletic pullover with thumbholes, matching sage green high-waist leggings, white minimalist running sneakers, a thin gold chain barely visible at the collarbone. Hair styled in a low loose ponytail.\", \"male\": \"Sage green long-sleeve fitted training top with thumbholes, matching sage green training joggers with a tapered leg, white minimalist running sneakers. Hair styled neat and natural. No jewellery, clean and understated.\"}, \"pose\": \"Standing beside the treadmill, body angled three-quarters toward the camera, one hand resting on the treadmill handlebar, weight on one leg.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the treadmill handlebar\"}, \"grip_or_placement\": \"Right hand at hip level, palm slightly upward, the box held in a relaxed pinch grip - thumb on the top edge, four fingers underneath the bottom face, held flat horizontally with the front face angled slightly toward the camera.\", \"lighting\": \"Soft natural daylight from a side window, cool with a subtle warm undertone, neutral wash on the box surface.\", \"mood\": \"composed mid-workout pause\", \"palette\": \"sage green, polished wood warm tone, soft daylight white\", \"framing\": \"three-quarter (knee up)\", \"camera_height\": \"chest level\"}, {\"id\": \"gym_weights_area_cooldown_03\", \"category\": \"gym\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Weights area of a premium gym; a dumbbell rack in soft focus behind; black rubber flooring; a lifting bench in the foreground; industrial pendant lighting overhead; a dark exposed-brick wall on the right.\", \"outfit\": {\"style_brief\": \"Deep burgundy athletic set, warm industrial gym, post-set recovery.\", \"female\": \"Deep burgundy cropped tank top, matching burgundy bike shorts with a double-band waistband, cropped white socks, white minimalist trainers. Hair styled in a messy bun on top of the head with a few loose pieces. Small silver studs.\", \"male\": \"Deep burgundy fitted athletic tank, matching burgundy training shorts with a double-band waistband, cropped white socks, white minimalist trainers. Hair styled short and slightly damp from the workout. No jewellery.\"}, \"pose\": \"Sitting on the lifting bench, knees apart, leaning slightly forward with forearms resting on the thighs, looking off-camera to the side as if catching breath after a set.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"both forearms rest forward on the thighs\"}, \"grip_or_placement\": \"The product box sits on the lifting bench beside the subject's right thigh, front face angled toward the camera, a stainless steel water bottle next to it and a small folded grey gym towel beside both. The product is the foreground hero of the surface arrangement.\", \"lighting\": \"Warm overhead industrial pendant light slightly behind the subject, a soft warm rim on shoulders and hair, cooler ambient fill from the gym ceiling, a warm glow on the box's front face.\", \"mood\": \"post-set quiet recovery\", \"palette\": \"deep burgundy, charcoal black, warm pendant amber, polished concrete grey\", \"framing\": \"three-quarter (waist up, bench surface visible to the right)\", \"camera_height\": \"slightly below eye line, looking up\"}, {\"id\": \"gym_locker_room_finish_04\", \"category\": \"gym\", \"archetype\": \"held_product_high\", \"difficulty\": \"medium\", \"scene\": \"Premium gym locker room; light wood lockers behind; a long wooden bench in the foreground with a folded white gym towel and a small leather duffel bag on it; soft warm sconce lighting on the wall.\", \"outfit\": {\"style_brief\": \"Oversized heather-grey loungewear layered over an athletic base, end-of-workout calm.\", \"female\": \"Heather grey oversized cropped sweatshirt over a black sports bra with the strap visible at the neckline, matching heather grey wide-leg sweatpants pooling at the ankles, white slip-on sneakers. Damp hair worn down with the front pieces twisted back loosely. A single thin gold chain.\", \"male\": \"Heather grey oversized crewneck sweatshirt over a black athletic base layer with the crew collar visible, matching heather grey wide-leg sweatpants pooling at the ankles, white slip-on sneakers. Damp hair pushed back off the face. No jewellery.\"}, \"pose\": \"Standing beside the bench, body angled three-quarters toward the camera, one foot slightly raised on the bench, looking down at the box in hand with a soft satisfied half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand tucks damp hair behind the ear\"}, \"grip_or_placement\": \"Right hand at chest level: thumb on the front face, index and middle fingers wrapping the right side, ring and pinky tucked under the bottom edge, box held vertically (long side vertical) with the front face turned to the camera.\", \"lighting\": \"Warm sconce lighting from behind, soft overhead locker-room light, a gentle golden cast across the wood lockers, warm tones on the box surface.\", \"mood\": \"post-shower satisfied, end-of-workout calm\", \"palette\": \"warm wood, heather grey, cream towel, soft amber\", \"framing\": \"three-quarter (waist up)\", \"camera_height\": \"chest level\"}, {\"id\": \"office_desk_midday_05\", \"category\": \"office\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Sleek modern home office; a light walnut desk against a soft cream wall; an open silver laptop turned slightly away from camera; a ceramic mug of black coffee on a marble coaster; a stack of two design books with a small snake plant in a terracotta pot; a tortoiseshell pen across an open leather notebook; a large window to the right with sheer linen curtains diffusing midday light.\", \"outfit\": {\"style_brief\": \"Polished smart-casual in cream and navy, premium work-from-home register, considered and quiet.\", \"female\": \"Navy blue silk camisole under a soft cream cashmere V-neck cardigan buttoned only at the top button, matching cream wide-leg tailored trousers with a slight crop hem, woven flat leather slides. Hair styled in a low half-up twist with a small tortoiseshell claw clip, the rest in soft waves. Small gold studs, a thin gold pendant, subtle polished daytime makeup.\", \"male\": \"A navy fine-knit short-sleeve polo under a soft cream lightweight cashmere cardigan worn open, matching cream tailored trousers with a slight crop hem, woven leather loafers. Hair styled neatly. A simple watch with a tan leather strap, clean groomed look.\"}, \"pose\": \"Seated at the desk in three-quarter angle to the camera, body turned slightly toward the laptop, one hand resting on the open notebook, the other pulled back from the keyboard mid-thought, looking softly at the product on the desk with a small contemplative smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand rests on the open notebook, the other is pulled back from the keyboard mid-thought\"}, \"grip_or_placement\": \"The product box sits on the desk between the coffee mug and the open notebook, front face directly toward the camera, long side horizontal, positioned slightly forward of the laptop at the visual centre of the desk so it reads as the hero of the workspace.\", \"lighting\": \"Bright but soft midday daylight filtered through sheer linen curtains on the right, a neutral diffuse wash across the face and the walnut desk, a very gentle warm undertone on the box's front face, no harsh shadows.\", \"mood\": \"mid-workday wellness moment, polished focus\", \"palette\": \"cream cashmere, navy, warm walnut, ivory ceramic, soft sage green\", \"framing\": \"medium close-up (chest up, desk surface visible at lower frame)\", \"camera_height\": \"slightly above eye line, looking gently down at the desk\"}, {\"id\": \"pilates_reformer_mirror_06\", \"category\": \"pilates\", \"archetype\": \"held_with_phone\", \"difficulty\": \"hard\", \"scene\": \"Premium pilates studio; a sage-green reformer machine behind the subject; a tall floor-to-ceiling mirror the subject faces; warm marble floor; an exposed brick side wall; a tall window on the left letting in late-afternoon sun.\", \"outfit\": {\"style_brief\": \"Tonal cream activewear, soft and minimal, post-class polish, barefoot studio convention.\", \"female\": \"Cream ribbed seamless cropped tank with a built-in shelf bra, matching cream high-waist seamless leggings, bare feet. Small gold huggie earrings, a thin gold pendant. Hair styled down in soft natural waves with a centre part, clean neutral nails.\", \"male\": \"A cream fitted seamless training tee, matching cream tapered training tights, bare feet. Hair styled neat with a natural part. No jewellery, clean and minimal.\"}, \"pose\": \"Standing facing the mirror, weight on one leg, the opposite knee slightly bent, posture upright with a soft confident smile.\", \"hand_assignment\": {\"phone_hand\": \"right\", \"product_hand\": \"left\", \"free_hand_action\": \"the right hand holds the phone at face level, capturing the mirror reflection\"}, \"grip_or_placement\": \"Left hand at chest level: thumb pressed flat on the front face, four fingers wrapping the back edge, box held perpendicular to the body so the front face points directly at the mirror.\", \"lighting\": \"Soft warm natural daylight through a tall window on the left, late afternoon, warm bone tones across the marble floor, a gentle warm rim on the left side and a warm glow on the box's front face.\", \"mood\": \"post-class composed, polished\", \"palette\": \"cream, beige, sage green, warm marble bone\", \"framing\": \"medium full (mid-thigh up)\", \"camera_height\": \"chest level\"}, {\"id\": \"yoga_home_practice_07\", \"category\": \"yoga\", \"archetype\": \"held_product_high\", \"difficulty\": \"hard\", \"scene\": \"Sunlit corner of a minimalist home; warm wood floor; a cork-textured yoga mat unrolled diagonally across the frame; a terracotta zafu meditation cushion at the upper end; a small Tibetan singing bowl with a wooden mallet beside it; a sprig of dried lavender on the floor; a large pothos plant in a woven basket against the wall.\", \"outfit\": {\"style_brief\": \"Dusty mauve seamless training set, meditative warmth, glowy fresh-practice skin.\", \"female\": \"Dusty mauve seamless ribbed cropped long-sleeve top with thumbholes, matching dusty mauve high-waist seamless leggings with a wide waistband, bare feet. Hair styled in a high half-up topknot with the lower half in soft waves. Small gold huggie hoops, a thin gold ring. Glowy skin with a touch of bronze on the eyelids.\", \"male\": \"A dusty mauve seamless ribbed long-sleeve training top with thumbholes, matching dusty mauve relaxed-fit training shorts, bare feet. Hair styled neatly back off the face. No jewellery, fresh natural skin.\"}, \"pose\": \"Kneeling on the yoga mat in a seiza-style sitting position (legs folded under, sitting back on the heels), posture upright and aligned, shoulders relaxed, looking softly down at the product held in front at chest level with a serene calm half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"both\", \"free_hand_action\": \"both hands cradle the box together at chest level\"}, \"grip_or_placement\": \"Both hands cradle the box together at chest level, palms facing up and meeting at the centreline of the body, the box resting flat horizontally on the fingertips with thumbs gently pressing the front face on either side, four fingers of each hand cradling the back edge. Front face angled gently up toward the camera at a soft fifteen-degree tilt.\", \"lighting\": \"Soft warm early-evening golden-hour daylight from a tall window just out of frame on the left, a gentle directional warm wash across the left side of the body and the front face of the box, a deeper warm shadow on the right side, warm honeyed tones across the wood floor and cork mat.\", \"mood\": \"meditative intentional, end-of-practice reflection\", \"palette\": \"dusty mauve, warm wood, terracotta, soft sage green, warm golden light\", \"framing\": \"medium close-up (waist up, hands and product centred)\", \"camera_height\": \"chest level (matching the kneeling height), straight-on\"}, {\"id\": \"pilates_studio_entrance_08\", \"category\": \"pilates\", \"archetype\": \"held_product_high\", \"difficulty\": \"medium\", \"scene\": \"Entrance hallway of a premium pilates studio; warm wood floor; a sage-green wall on the right; a tall mirror on the left wall reflecting the studio interior; a small wooden bench against the right wall with a rolled cream towel and a straw tote bag; soft morning light through the front door at the far end.\", \"outfit\": {\"style_brief\": \"Pale buttery-yellow activewear, fresh arriving energy, light and clean.\", \"female\": \"Pale buttery yellow ribbed seamless tank top, matching pale yellow high-waist bike shorts, white slip-on canvas sneakers, a small gold cuff bracelet. Hair styled in a low loose bun at the nape. Subtle gold huggie earrings.\", \"male\": \"A pale buttery yellow ribbed seamless training tee, matching pale yellow mid-thigh training shorts, white slip-on canvas sneakers. Hair styled short and neat. No jewellery.\"}, \"pose\": \"Walking toward the camera at a slight three-quarter angle, mid-stride, one foot just leaving the floor, looking slightly off-camera with a soft natural smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand holds the strap of a small straw tote bag at the side\"}, \"grip_or_placement\": \"Right hand at chest level held slightly forward of the body: thumb on the front face, four fingers wrapping the back edge, box held at a relaxed angle three-quarters toward the camera.\", \"lighting\": \"Soft warm morning daylight from the open front door at the end of the hallway, a golden cast on the wood floor, warm rim light on the right side.\", \"mood\": \"arriving fresh, calm energy\", \"palette\": \"pale buttery yellow, warm wood, sage green, cream\", \"framing\": \"full body (head to mid-shin)\", \"camera_height\": \"slightly below eye line, looking up gently\"}, {\"id\": \"pilates_mat_morning_handheld_09\", \"category\": \"pilates\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"Sunlit pilates studio; a cream-colored mat on the warm wood floor; a sage-green reformer in the background out of focus; a tall window on the right flooding morning light into the room.\", \"outfit\": {\"style_brief\": \"Dusty pink seamless set, soft morning calm, barefoot, glowy fresh skin.\", \"female\": \"Soft dusty pink seamless sports bra with crossback straps, matching dusty pink high-waist leggings, a thin gold anklet, bare feet. Hair styled down in soft beach waves with a centre part, glowy skin, no makeup.\", \"male\": \"A soft dusty pink seamless fitted training tee, matching dusty pink relaxed training shorts, bare feet. Hair styled neat with a natural part. No jewellery, fresh natural skin.\"}, \"pose\": \"Sitting cross-legged on the mat, posture upright, hands resting in the lap, looking down at the box with a soft contemplative smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"both\", \"free_hand_action\": \"both hands hold the box together in the lap\"}, \"grip_or_placement\": \"Both hands cradle the box in the lap, palms facing up and slightly together, the box resting on the fingertips with the front face angled toward the camera at a slight upward tilt, thumbs resting on either side of the front face.\", \"lighting\": \"Bright soft morning daylight from a tall window on the right, warm bone tones across the wood floor and mat, a gentle warm wash on the right side and on the box surface.\", \"mood\": \"morning intention setting, peaceful\", \"palette\": \"dusty pink, warm wood, cream mat, sage green\", \"framing\": \"three-quarter (head to crossed knees)\", \"camera_height\": \"slightly below eye line, looking up\"}, {\"id\": \"pilates_studio_post_class_mirror_10\", \"category\": \"pilates\", \"archetype\": \"held_product_high\", \"difficulty\": \"hard\", \"scene\": \"Premium pilates studio viewed from a fresh angle; warm marble floor; a sage-green reformer behind; an exposed brick wall on the right; the subject standing in front of a floor-to-ceiling mirror with the reformer reflected behind.\", \"outfit\": {\"style_brief\": \"Slate-grey seamless long-sleeve set, cool-toned and poised, silver accents.\", \"female\": \"Slate grey seamless ribbed cropped long-sleeve top with thumbholes, matching slate grey high-waist seamless leggings, a thin silver chain necklace, small silver hoops, bare feet. Hair styled in a low slick ponytail with a small clip. Subtle natural makeup.\", \"male\": \"A slate grey seamless ribbed long-sleeve training top with thumbholes, matching slate grey tapered training tights, bare feet. Hair styled neatly slicked back. A simple thin silver chain.\"}, \"pose\": \"Standing in three-quarter angle to the mirror, weight on one leg, the free hand on the hip, posture confident and relaxed.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the hip\"}, \"grip_or_placement\": \"Right hand at upper-chest level, box held in a clear pinch grip - thumb on the front face near the bottom edge, index and middle fingers on the back, ring and pinky tucked under, box angled slightly toward the camera for direct camera engagement (not toward the mirror).\", \"lighting\": \"Soft warm late-afternoon daylight through a tall window on the left, warm bone tones across the marble floor, a gentle warm glow on the box surface, subtle rim light on the left shoulder.\", \"mood\": \"post-class polished, poised\", \"palette\": \"slate grey, warm marble bone, sage green, soft amber\", \"framing\": \"medium close-up (chest up)\", \"camera_height\": \"chest level\"}, {\"id\": \"bedroom_bed_handheld_close_11\", \"category\": \"bedroom\", \"archetype\": \"held_product_high\", \"difficulty\": \"hard\", \"scene\": \"Bedroom morning; soft white bedding with a leopard-print pillowcase visible behind the head; a light wood headboard partially visible; a sheer white curtain on a window to the right letting in soft golden morning light.\", \"outfit\": {\"style_brief\": \"Relaxed morning sleepwear in soft ivory, just-woke warmth, bare glowy skin.\", \"female\": \"A pale ivory satin slip nightgown with thin spaghetti straps, slightly crumpled from sleep, the top of the slip visible at the neckline. Hair styled tousled from sleep in soft waves spread on the pillow. Bare face, glowy skin, no earrings.\", \"male\": \"A soft ivory cotton short-sleeve sleep tee, slightly crumpled from sleep, the crew neckline visible. Hair styled tousled from sleep. Bare face, fresh skin, no accessories.\"}, \"pose\": \"Lying on the back on the pillow, photographed from above-front so the face and upper chest are visible, a soft sleepy half-smile at the camera.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests near the chin, fingers lightly curled\"}, \"grip_or_placement\": \"Right hand raised in front of the face holding the box vertically, thumb on one side and four fingers wrapped around the opposite side, box positioned about twenty centimetres from the face with the front face angled directly at the camera.\", \"lighting\": \"Soft warm morning daylight from the window on the right, a diffuse golden wash across the face and pillow, no harsh shadows, a gentle warm glow on the box surface.\", \"mood\": \"playful first-thing-morning, sleepy soft smile\", \"palette\": \"ivory satin, leopard tan, warm white, skin warmth\", \"framing\": \"close-up (head and upper chest, box dominant in frame)\", \"camera_height\": \"directly above the face, slight tilt\"}, {\"id\": \"bedroom_vanity_getting_ready_12\", \"category\": \"bedroom\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Bedroom vanity area; a round arched mirror on a warm walnut vanity; arranged skincare bottles and a small ceramic dish on a gold tray; a linen-shaded lamp glowing warmly in the corner; soft early-morning light from a window out of frame.\", \"outfit\": {\"style_brief\": \"Soft blush morning robe over a light base layer, gentle skincare-moment calm.\", \"female\": \"A pale blush pink linen robe loosely tied at the waist with a slim ribbon sash, the V-neckline open showing a thin white camisole strap underneath. Hair clipped half-up in a claw clip, the lower half in soft waves. Bare face mid-skincare application.\", \"male\": \"A pale blush-grey waffle short robe loosely tied at the waist over a plain white crew tee, the neckline open. Hair styled lightly tousled, freshly woken. Bare face mid-skincare application.\"}, \"pose\": \"Sitting on a small upholstered vanity stool, three-quarter angle to the camera, one hand at the cheek mid-skincare gesture, looking toward the reflection in the mirror.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand is lifted to the cheek mid-skincare application\"}, \"grip_or_placement\": \"The product box sits on the vanity surface to the subject's right, positioned between a ceramic skincare bottle and an open glass jar of cotton pads, front face angled three-quarters toward the camera as the visual anchor of the vanity arrangement.\", \"lighting\": \"Warm bedside lamp from the corner combined with soft morning daylight from a window out of frame on the left, warm honeyed tones across the walnut vanity, a gentle warm glow on the box surface.\", \"mood\": \"slow morning skincare moment, soft and unhurried\", \"palette\": \"warm walnut, blush pink, soft amber lamp glow, ivory ceramics\", \"framing\": \"three-quarter (head to waist, vanity surface visible)\", \"camera_height\": \"chest level\"}, {\"id\": \"bedroom_robe_with_product_13\", \"category\": \"bedroom\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"Bedroom doorway leading to a softly-lit bathroom in the background; hardwood floor; a low cream bench in front of the doorway with a folded white towel and a ceramic mug; soft morning light from windows throughout.\", \"outfit\": {\"style_brief\": \"Long cream waffle-knit robe, soft morning-routine ease.\", \"female\": \"A long cream waffle-knit robe tied loosely at the waist, falling to mid-shin, the V-neckline open with a thin white camisole strap underneath. Hair styled down in loose tousled morning waves. Small gold studs, bare face, glowy skin.\", \"male\": \"A long cream waffle-knit robe tied loosely at the waist over a plain white crew tee and soft grey lounge shorts. Hair styled lightly tousled. No accessories, fresh skin.\"}, \"pose\": \"Standing in the doorway angled slightly to one side, weight on one leg, looking down at the box in hand with a soft contemplative smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"left\", \"free_hand_action\": \"the right hand gently holds the edge of the doorframe\"}, \"grip_or_placement\": \"Left hand at hip level, palm facing up, the box resting flat on the open palm with the thumb gently on top to steady it, front face toward the camera - a relaxed casual hold, not a presentation grip.\", \"lighting\": \"Soft warm morning daylight from windows on either side, a balanced diffuse wash, a gentle warm glow on the cream robe and the box.\", \"mood\": \"morning routine pause, considering the start of the day\", \"palette\": \"cream waffle, warm wood, soft white, blush undertones\", \"framing\": \"full body (head to mid-shin)\", \"camera_height\": \"chest level\"}, {\"id\": \"bedroom_journaling_evening_14\", \"category\": \"bedroom\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Bedroom corner writing nook at twilight; a vintage caramel-leather armchair angled slightly toward the camera; a small warm-wood side table with a brass desk lamp glowing softly; an open leather-bound journal on the side table; a ceramic mug of chamomile tea with a tea-bag string over the rim; a tall window behind showing deep blue twilight with the last warm orange band on the horizon.\", \"outfit\": {\"style_brief\": \"Soft sage-green linen pajama set, evening wind-down warmth.\", \"female\": \"A soft sage green linen long-sleeve button-up pajama top tucked loosely into matching sage green linen wide-leg pajama pants, two top buttons open, sleeves rolled to mid-forearm, bare feet. Hair styled in a low loose braid over one shoulder. No earrings, a single thin gold ring, bare face, glowy nighttime skin.\", \"male\": \"A soft sage green linen long-sleeve button-up pajama shirt worn loose over matching sage green linen pajama pants, two top buttons open, sleeves rolled to mid-forearm, bare feet. Hair styled lightly relaxed. No accessories, fresh nighttime skin.\"}, \"pose\": \"Sitting in the armchair with one leg tucked under, the other foot lightly on the floor, body angled three-quarters toward the side table, the writing hand mid-write in the open journal with a tortoiseshell pen, looking down at the page with a small thoughtful smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"the writing hand holds a tortoiseshell pen mid-write in the open journal\"}, \"grip_or_placement\": \"The product box sits on the side table directly beside the brass desk lamp, front face angled three-quarters toward the camera, positioned between the lamp and the chamomile tea mug as the central element of the nightstand arrangement. The lamp glow falls warm across the box's front face.\", \"lighting\": \"A warm brass desk lamp on the right creates a strong directional warm pool across the side table and the right side of the face, combined with cool deep-blue twilight from the window behind giving a cool rim on the shoulders and hair - strong warm/cool dual-source mood lighting.\", \"mood\": \"evening wind-down, reflective, end-of-day intention\", \"palette\": \"sage green linen, caramel leather, warm brass amber, twilight blue\", \"framing\": \"three-quarter (head to mid-thigh, side table visible at right edge)\", \"camera_height\": \"chest level\"}, {\"id\": \"kitchen_breakfast_prep_15\", \"category\": \"kitchen\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"Bright modern kitchen; a white marble countertop with a wooden cutting board holding fresh strawberries, a half-sliced banana and a ceramic bowl of granola; a high-end blender containing a green smoothie mid-blend; a small herb plant in a terracotta pot on the windowsill; bright morning light pouring through a tall window behind the island.\", \"outfit\": {\"style_brief\": \"Relaxed mint-and-cream linen, unhurried morning-prep warmth.\", \"female\": \"A soft mint green oversized linen button-down shirt with sleeves rolled to the elbows, two top buttons open showing a thin white cropped tank underneath, paired with cream linen drawstring shorts, bare feet. Hair styled in a high messy bun with face-framing pieces escaping. Small gold huggie hoops, layered thin gold necklaces, glowy skin, subtle natural makeup.\", \"male\": \"A soft mint green oversized linen button-down shirt with sleeves rolled to the elbows, worn open over a plain white crew tee, paired with cream linen drawstring shorts, bare feet. Hair styled lightly tousled. No accessories, fresh morning skin.\"}, \"pose\": \"Standing at the kitchen island in three-quarter angle to the camera, hip leaning lightly against the counter edge, one hand resting on the cutting board near the strawberries, looking softly down at the box in the other hand with a small content smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests on the cutting board beside the strawberries\"}, \"grip_or_placement\": \"Right hand at hip level, box held flat horizontally with the thumb on the top edge near the back, index and middle fingers along the bottom face, ring and pinky tucked under, front face angled three-quarters toward the camera at a relaxed casual angle.\", \"lighting\": \"Bright soft morning daylight from a tall window behind the island, a backlit window with diffuse front-fill from one side, warm bone tones across the marble countertop, a gentle warm glow on the box's front face.\", \"mood\": \"unhurried morning ritual, fresh prep, intentional\", \"palette\": \"mint green linen, cream linen, white marble, strawberry red, fresh green\", \"framing\": \"three-quarter (waist up, counter and cutting board visible)\", \"camera_height\": \"chest level\"}, {\"id\": \"kitchen_matcha_morning_handheld_16\", \"category\": \"kitchen\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"Modern minimalist kitchen island with a white marble countertop; light wood stools tucked under; a soft cream wall behind; a small green plant in a ceramic pot; a bamboo whisk in a ceramic matcha bowl with fresh matcha powder dusted on the rim.\", \"outfit\": {\"style_brief\": \"Oversized butter-yellow waffle knit, slow-Saturday softness.\", \"female\": \"An oversized soft butter-yellow long-sleeve waffle-knit pullover, sleeves pushed up, the pullover loose and falling slightly off one shoulder, a thin white camisole strap visible underneath. Cream linen drawstring shorts, bare feet. Hair styled in a messy low bun with face-framing pieces.\", \"male\": \"An oversized soft butter-yellow long-sleeve waffle-knit pullover, sleeves pushed up, worn relaxed with a plain white crew tee visible at the neckline. Cream linen drawstring shorts, bare feet. Hair styled lightly tousled. No accessories.\"}, \"pose\": \"Standing at the kitchen island three-quarter angle to the camera, one hip leaning against the counter edge, looking softly down at the matcha bowl with a relaxed half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"left\", \"free_hand_action\": \"the right hand holds the bamboo whisk poised over the matcha bowl\"}, \"grip_or_placement\": \"Left hand at hip level resting against the counter edge, holding the box in a relaxed casual grip - thumb on the top edge, four fingers along the bottom edge, held flat horizontally with the front face angled three-quarters toward the camera.\", \"lighting\": \"Soft morning daylight from a window out of frame on the left, warm bone tones across the marble countertop, a gentle warm side-light on the arm and the box's front face.\", \"mood\": \"slow Saturday morning, unhurried\", \"palette\": \"butter yellow, white marble, light wood, matcha green, cream\", \"framing\": \"three-quarter (waist up, counter surface visible)\", \"camera_height\": \"chest level\"}, {\"id\": \"kitchen_breakfast_nook_17\", \"category\": \"kitchen\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Cozy breakfast nook in a corner of the kitchen; a small round walnut-wood table against a tall window with sheer curtains; a cream linen upholstered chair; a ceramic vase of dried wildflowers in muted ochre and sage tones; an open hardcover book face-down; an empty ceramic coffee cup on a wooden saucer with cinnamon dust on the rim; bright golden morning sunlight streaming onto the table.\", \"outfit\": {\"style_brief\": \"Luxurious emerald silk loungewear, lingering slow-morning richness.\", \"female\": \"A deep emerald-green silk kimono robe with wide elbow-length sleeves and a self-fabric tie at the waist, loosely tied open showing a thin white camisole underneath, matching deep emerald silk relaxed-fit pajama pants, bare feet. Hair styled down in soft natural waves with a side part, a single thin gold pendant. Subtle natural makeup with a touch of bronze.\", \"male\": \"A deep emerald-green silk short robe with wide sleeves and a self-fabric tie, worn open over a plain white crew tee, matching deep emerald silk relaxed pajama pants, bare feet. Hair styled lightly relaxed. No accessories, fresh skin.\"}, \"pose\": \"Sitting at the breakfast nook in the cream linen chair, body angled three-quarters toward the camera, one leg crossed over the other, one elbow resting on the table with the hand cupping the chin thoughtfully, looking softly toward the camera with a relaxed half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand cups the chin thoughtfully, the elbow resting on the table\"}, \"grip_or_placement\": \"The product box sits on the walnut-wood table directly in front of the subject, front face angled three-quarters toward the camera, positioned between the ceramic coffee cup and the open book as the central element of the breakfast-nook arrangement. Morning sunlight from the window falls warm across the box's front face.\", \"lighting\": \"Bright warm golden morning sunlight from the tall window behind the nook, a strong directional warm wash across the table surface and the front face of the box, a gentle warm side-light on the face, deeper warm shadows on the side away from the window.\", \"mood\": \"slow Saturday morning, lingering breakfast, contemplative\", \"palette\": \"deep emerald silk, walnut wood, cream linen, warm golden morning, dried ochre\", \"framing\": \"three-quarter (chest up, breakfast table surface visible at lower frame)\", \"camera_height\": \"chest level, across-table angle\"}, {\"id\": \"kitchen_coffee_bar_moment_18\", \"category\": \"kitchen\", \"archetype\": \"held_product_high\", \"difficulty\": \"hard\", \"scene\": \"A sleek built-in coffee bar in a modern kitchen; an espresso machine on the counter; a small open shelf above with arranged ceramic mugs; a white marble counter; a ceramic tray with a folded linen napkin and a small wood spoon.\", \"outfit\": {\"style_brief\": \"Charcoal knit with dark denim, polished casual morning energy.\", \"female\": \"A charcoal grey ribbed long-sleeve cropped pullover with sleeves long enough to partly cover the hands, high-waisted dark-wash relaxed jeans with a slight crop hem, white minimalist sneakers. Hair styled down in soft waves. Layered thin gold necklaces, small gold huggie hoops.\", \"male\": \"A charcoal grey ribbed long-sleeve fitted pullover, dark-wash relaxed straight-leg jeans, white minimalist sneakers. Hair styled neatly. A simple watch, no other accessories.\"}, \"pose\": \"Standing facing the coffee bar three-quarter angle to the camera, looking down at the box held at chest level with a soft confident smile, weight on one leg.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the marble counter edge\"}, \"grip_or_placement\": \"Right hand at upper-chest level: thumb on the front face near the top edge, index and middle fingers on the back, ring and pinky tucked under, box angled forty-five degrees toward the camera.\", \"lighting\": \"Cool overhead pendant lighting on the coffee bar combined with warm morning daylight from a window on the right, a mixed cool/warm wash on the face and a warm rim on the right side of the box.\", \"mood\": \"morning ritual, polished casual energy\", \"palette\": \"charcoal grey, dark denim, warm marble, espresso brown, brass accents\", \"framing\": \"three-quarter (waist up)\", \"camera_height\": \"chest level\"}, {\"id\": \"bathroom_warm_oak_shelf_19\", \"category\": \"bathroom\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"Three-quarter angle on a warm-oak floating shelf against a soft cream tile bathroom wall. The shelf holds a styled lineup of beige skincare bottles, a ceramic dish with a gua sha tool, an unlit candle, the product box, and a dried flower stem. The subject's partial reflection is visible in the bathroom mirror at the left edge of the frame.\", \"outfit\": {\"style_brief\": \"White waffle bathrobe, wet hair, mid-skincare freshness - persona only partially in frame.\", \"female\": \"A white waffle-knit short bathrobe loosely tied, the neckline open showing the collarbones. Hair styled wet and slicked back. Bare face mid-skincare application.\", \"male\": \"A white waffle-knit short bathrobe loosely tied, the neckline open. Hair styled wet and slicked back. Bare face mid-skincare application.\"}, \"pose\": \"The persona is partial - only one shoulder, the neck, ear and a sliver of cheek are visible at the left edge of the frame; the rest of the composition belongs to the shelf and its arrangement. The subject is mid-skincare-application, fingers visible at the cheek.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand is visible at the cheek mid-skincare application (partial in frame)\"}, \"grip_or_placement\": \"The product box sits at the right end of the shelf with its front face angled toward the camera, between the unlit candle and the small ceramic dish - the visual hero of the shelf arrangement.\", \"lighting\": \"Warm overhead bathroom lighting, a diffuse golden cast across the oak shelf and cream tile, a gentle warm glow on the box's front face, soft indirect light on the partial reflection.\", \"mood\": \"calm evening reset, end-of-day skincare moment\", \"palette\": \"warm cream, oat, oak, soft amber\", \"framing\": \"three-quarter angle on the shelf, persona partial at left edge\", \"camera_height\": \"shelf level (slightly above the shelf surface)\"}, {\"id\": \"bathroom_morning_skincare_20\", \"category\": \"bathroom\", \"archetype\": \"held_product_high\", \"difficulty\": \"medium\", \"scene\": \"Bright modern bathroom with a soft pink penny-tile back wall; brass fixtures; a white marble counter with arranged skincare products - a ceramic dish of cotton pads, an amber-glass dropper bottle, a clear glass tumbler of water with a slice of lemon, a folded white washcloth; a round arched mirror on the wall with the subject's reflection clearly visible behind the shoulder.\", \"outfit\": {\"style_brief\": \"Soft peach robe, dewy mid-routine glow.\", \"female\": \"A soft peach silk wrap robe loosely tied at the waist, the wrap closure crossing the chest, the V-neckline open showing the collarbones and a thin white camisole strap underneath, sleeves pushed slightly past the elbows. Hair pulled back in a low loose claw-clip hold with a few face-framing pieces. Bare face mid-routine, dewy skin, no earrings, a thin gold pendant.\", \"male\": \"A soft peach waffle short robe loosely tied at the waist, the V-neckline open over a plain white crew tee, sleeves pushed slightly past the elbows. Hair styled lightly damp and pushed back. Bare face mid-routine, fresh dewy skin, no accessories.\"}, \"pose\": \"Standing at the marble counter facing the mirror at a three-quarter angle to the camera, the body slightly toward the counter and the face turned to the reflection, examining the box held up toward the mirror with a small curious smile. The camera captures from the side so both the profile and the reflection are visible.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the marble counter edge\"}, \"grip_or_placement\": \"Right hand at chest level held so the box is between the face and the mirror: thumb pressed flat on the front face, index and middle fingers on the back edge, ring and pinky tucked under, front face angled toward the mirror.\", \"lighting\": \"Bright soft morning daylight, a neutral diffuse wash across the face and the marble counter, a gentle warm glow on the box, soft pink ambient bounce from the tile wall.\", \"mood\": \"fresh morning skincare moment, curious and calm\", \"palette\": \"soft pink tile, white marble, peach, brass, fresh lemon yellow\", \"framing\": \"medium close-up (chest up, mirror reflection visible)\", \"camera_height\": \"chest level\"}, {\"id\": \"bathroom_evening_mirror_21\", \"category\": \"bathroom\", \"archetype\": \"held_product_high\", \"difficulty\": \"hard\", \"scene\": \"A calm modern bathroom in the evening; a large frameless mirror above a floating stone vanity; warm sconce lights on either side of the mirror casting a soft glow; a neatly folded towel and a small tray of skincare on the vanity; muted matte-clay tile on the walls. The composition captures both the subject and a clear reflection in the mirror.\", \"outfit\": {\"style_brief\": \"Soft charcoal waffle robe, freshly showered, damp slicked hair, end-of-day reset.\", \"female\": \"A soft charcoal-grey waffle-knit robe loosely tied at the waist, the V-neckline open showing the collarbones and a thin white camisole strap underneath. Hair styled wet and slicked straight back off the face. Bare face, dewy fresh-shower skin, no earrings.\", \"male\": \"A soft charcoal-grey waffle-knit robe loosely tied at the waist, the V-neckline open over a plain white crew tee. Hair styled wet and slicked straight back off the face. Bare face, dewy fresh-shower skin, no accessories.\"}, \"pose\": \"Standing at the vanity at a three-quarter angle to the camera, the face turned toward the mirror, examining the box at chest height so it appears both in the hand and in the reflection, a calm content half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the edge of the stone vanity\"}, \"grip_or_placement\": \"Right hand at chest level held just forward of the body: thumb pressed flat on the front face near the top, index and middle fingers on the back edge, ring and pinky tucked under, box held vertically with the front face turned toward the camera so it reads clearly in both the direct view and the mirror reflection.\", \"lighting\": \"Warm symmetrical sconce lighting on either side of the mirror, a soft even golden wash across the face and the damp hair, a gentle warm tone on the box's front face, soft shadowless fill from the mirror bounce.\", \"mood\": \"end-of-day reset, calm and restored\", \"palette\": \"charcoal waffle, matte clay tile, warm sconce amber, soft stone grey\", \"framing\": \"medium close-up (chest up, mirror reflection visible alongside)\", \"camera_height\": \"chest level\"}, {\"id\": \"recovery_couch_evening_22\", \"category\": \"recovery\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"A cream-upholstered modern sofa in a warmly-lit living room; a large soft throw blanket draped behind; a small wooden side table with an unlit candle and a stainless steel water bottle; a floor lamp glowing softly in the upper-left corner; a window in the background with twilight-blue dusk light filtering in.\", \"outfit\": {\"style_brief\": \"Oatmeal cashmere loungewear, end-of-day exhale.\", \"female\": \"A heavyweight oatmeal-colored cashmere cropped lounge sweater, matching oatmeal cashmere wide-leg lounge pants, white slouchy crew socks. Hair styled in a low loose bun. Layered thin gold necklaces, no earrings, bare face, glowy skin.\", \"male\": \"A heavyweight oatmeal-colored cashmere crewneck lounge sweater, matching oatmeal cashmere relaxed lounge pants, white slouchy crew socks. Hair styled relaxed and natural. No accessories, fresh skin.\"}, \"pose\": \"Sitting on the sofa with one leg tucked under, the other foot on the floor, body angled three-quarters toward the camera, looking softly down at the box in the lap with a content smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"both\", \"free_hand_action\": \"both hands hold the box together in the lap\"}, \"grip_or_placement\": \"Both hands rest in the lap holding the box gently, palms partially facing up, thumbs on the front face on either side, fingers cradling the back, box held flat horizontally with the front face up toward the camera at a soft tilt.\", \"lighting\": \"Warm floor-lamp light from the upper-left combined with deep cool-blue twilight from the background window - mixed warm/cool mood lighting, a warm wash on the face and box surface, cool ambient blue behind.\", \"mood\": \"end-of-day exhale, recovery evening\", \"palette\": \"oatmeal cashmere, cream sofa, warm amber lamp, twilight blue\", \"framing\": \"three-quarter (head to lap)\", \"camera_height\": \"chest level\"}, {\"id\": \"recovery_armchair_reading_23\", \"category\": \"recovery\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"A deep sand-beige linen-upholstered armchair tucked into a reading corner of a softly-lit living room; a tall slim floor lamp with a linen shade glowing warmly behind the chair; a small round walnut side table holding a ceramic mug of herbal tea, an open hardcover book face-down, a tortoiseshell reading-glass case and the product box; a small green plant in a terracotta pot beside the chair.\", \"outfit\": {\"style_brief\": \"Chocolate-brown ribbed knit with cream linen, late-afternoon restorative calm.\", \"female\": \"A chocolate brown ribbed cropped long-sleeve top with a relaxed boat neckline showing the collarbones, cream linen wide-leg pants with a slight crop hem, slouchy cream cable-knit crew socks. Hair styled in a low loose bun with a few face-framing pieces. No earrings, a thin gold ring, bare face, glowy skin.\", \"male\": \"A chocolate brown ribbed long-sleeve fitted top with a relaxed crew neckline, cream linen relaxed-fit trousers with a slight crop hem, slouchy cream cable-knit crew socks. Hair styled relaxed and natural. No accessories, fresh skin.\"}, \"pose\": \"Sitting in the armchair with one leg tucked under, the other foot on the floor, body angled three-quarters toward the camera and slightly toward the side table, one hand resting in the lap, the other raised lightly to brush hair from the temple, looking softly toward the side table with a content half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand rests in the lap, the other is raised lightly to the face brushing hair from the temple\"}, \"grip_or_placement\": \"The product box sits on the walnut side table directly to the subject's right, front face angled three-quarters toward the camera, positioned between the ceramic mug and the open hardcover book as the central element of the side-table arrangement. The warm lamp glow falls softly across the box's front face.\", \"lighting\": \"A warm floor lamp from the upper-left behind the armchair throws a strong directional warm pool across the chair, side table and the right side of the face and body; cool blue late-afternoon ambient light fills the rest of the room from a window out of frame on the right, giving a cool counter-fill across the left side.\", \"mood\": \"late-afternoon quiet reading moment, restorative pause\", \"palette\": \"chocolate brown, cream linen, sand-beige armchair, warm lamp amber, cool afternoon blue\", \"framing\": \"three-quarter (head to mid-thigh, side table visible at right edge)\", \"camera_height\": \"chest level, slight angle toward the side table\"}, {\"id\": \"recovery_post_shower_robe_24\", \"category\": \"recovery\", \"archetype\": \"held_product_high\", \"difficulty\": \"medium\", \"scene\": \"A bedroom or living room corner; soft natural daylight from a large window on the left; a wooden chair with a folded cashmere throw draped over it; a small green plant in a ceramic pot beside the chair; a warm wood floor.\", \"outfit\": {\"style_brief\": \"Long ivory waffle robe, damp hair, fresh post-shower calm.\", \"female\": \"A long ivory waffle-knit robe tied loosely at the waist, sleeves pushed to the elbows, the robe falling to mid-shin, a white spaghetti-strap camisole visible at the V-neckline. Hair styled damp and slicked back into a low loose bun. Small gold studs, bare face, dewy fresh-shower skin.\", \"male\": \"A long ivory waffle-knit robe tied loosely at the waist, sleeves pushed to the elbows, worn over soft grey lounge shorts and a plain white crew tee. Hair styled damp and pushed back. No accessories, dewy fresh-shower skin.\"}, \"pose\": \"Standing in three-quarter angle to the camera, weight on one leg, one foot slightly forward, looking softly down at the box with a calm content smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests at the hip, gently touching the robe sash\"}, \"grip_or_placement\": \"Right hand at chest level: thumb on the front face, four fingers wrapping the back edge, box held vertically (long side vertical) with the front face directly toward the camera.\", \"lighting\": \"Soft cool morning daylight from a large window on the left, a balanced diffuse wash across the face and robe, a gentle cool-neutral tone on the box surface.\", \"mood\": \"post-shower fresh, calm beginning\", \"palette\": \"ivory waffle, warm wood, sage green plant, soft daylight white\", \"framing\": \"medium full (mid-thigh up)\", \"camera_height\": \"chest level\"}, {\"id\": \"outdoor_post_walk_park_25\", \"category\": \"outdoor\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"A gravel walking path in a leafy urban park during golden hour; soft green trees in the background slightly out of focus; a wooden park bench to one side with a leather tote bag resting on it; late-afternoon golden sunlight filtering through the tree canopy.\", \"outfit\": {\"style_brief\": \"Olive-and-black athletic layers with a crossbody bag, golden-hour walk energy.\", \"female\": \"A cropped olive-green long-sleeve athletic pullover with a small neck zip pulled down halfway, high-waist black athletic leggings, white minimalist sneakers, a small black crossbody bag with a thin strap. Hair styled in a high sleek ponytail. Small gold huggie hoops, subtle natural makeup with a touch of gloss.\", \"male\": \"An olive-green long-sleeve athletic half-zip pullover with the zip pulled down partway, black athletic joggers with a tapered leg, white minimalist sneakers, a small black crossbody sling bag with a thin strap. Hair styled short and neat. No jewellery.\"}, \"pose\": \"Standing on the path facing the camera at a slight three-quarter angle, one foot slightly forward as if mid-walk pause, looking off-camera with a soft natural smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand holds the strap of the small black crossbody bag\"}, \"grip_or_placement\": \"Right hand at hip level, box held in a relaxed pinch grip, thumb on the top edge, four fingers along the bottom edge, held flat horizontally with the front face angled three-quarters toward the camera.\", \"lighting\": \"Warm late-afternoon golden-hour sunlight filtered through the tree canopy on one side, dappled warm light across the face and outfit, a gentle warm glow on the box's front face, deep green shadows in the background.\", \"mood\": \"golden-hour walk, fresh outdoor energy\", \"palette\": \"olive green, black athletic, golden warm, deep tree green\", \"framing\": \"full body (head to mid-calf)\", \"camera_height\": \"chest level\"}, {\"id\": \"outdoor_smoothie_bar_26\", \"category\": \"outdoor\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"An outdoor counter at a sunny smoothie and juice bar; a polished wood counter; an open bookcase of plant-based cookbooks behind; lush green ferns hanging above; a tall glass of green smoothie on the counter; a small ceramic ramekin of granola; the product box; bright natural daylight all around.\", \"outfit\": {\"style_brief\": \"White cotton with sand linen trousers, bright morning smoothie energy.\", \"female\": \"A white cotton wrap top with a tie at the waist (tied loosely on the side), high-waist tailored sand-colored linen wide-leg trousers, woven flat sandals just visible. Hair styled down in soft natural waves. Small gold studs, a layered thin gold necklace, subtle bronzy makeup.\", \"male\": \"A white cotton short-sleeve linen-blend shirt worn relaxed and untucked, sand-colored tailored linen trousers, woven leather sandals just visible. Hair styled short and neat. No jewellery, fresh natural skin.\"}, \"pose\": \"Standing at the smoothie-bar counter, body angled three-quarters toward the camera, both hands resting lightly on the counter, looking softly down at the green smoothie with a small smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"both hands rest lightly on the counter edge\"}, \"grip_or_placement\": \"The product box sits on the wood counter directly in front of the subject, between the green smoothie glass and the granola ramekin, front face angled three-quarters toward the camera, part of the morning smoothie-bar arrangement.\", \"lighting\": \"Bright natural daylight from above and the sides, slightly diffused by the canopy of ferns, a warm wash across the face and the wood counter, a gentle warm glow on the box.\", \"mood\": \"morning smoothie ritual, bright and energetic\", \"palette\": \"warm wood, sand linen, white cotton, deep green ferns, vibrant green smoothie\", \"framing\": \"three-quarter (waist up, counter surface visible)\", \"camera_height\": \"chest level\"}, {\"id\": \"outdoor_golden_hour_patio_27\", \"category\": \"outdoor\", \"archetype\": \"held_product_high\", \"difficulty\": \"easy\", \"scene\": \"A modern minimalist patio at golden hour; a low concrete planter with small ornamental grasses behind; a folded teak deck chair to one side with a cream linen throw draped over it; a distant city skyline softly out of focus in the background; warm low-angle sunlight.\", \"outfit\": {\"style_brief\": \"Sleek black tailored separates, confident golden-hour glow.\", \"female\": \"A black square-neck cropped tank top, matching black mid-thigh tailored shorts, low-heeled brown leather sandals, a thin gold tennis bracelet, small gold huggie hoops. Hair styled down in soft beach waves, subtle bronzy makeup with a soft glow.\", \"male\": \"A black fitted short-sleeve crew tee, matching black mid-thigh tailored shorts, low brown leather sandals. Hair styled neatly. A simple watch with a tan strap, no other accessories.\"}, \"pose\": \"Standing on the patio facing the camera at a slight three-quarter angle, weight on one leg, looking directly at the camera with a relaxed confident smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests at the side\"}, \"grip_or_placement\": \"Right hand at chest level: thumb on the front face, index and middle fingers on the back, ring and pinky tucked under, box angled slightly toward the camera so the front face catches the warm golden-hour light directly.\", \"lighting\": \"Strong warm golden-hour sunlight from a low angle on one side, a golden rim light across the shoulder and the side of the box, deep amber tones across the patio, a soft cool sky in the background.\", \"mood\": \"golden-hour glow, confident and calm\", \"palette\": \"black tailored, warm gold, teak wood, deep amber, soft sky cool\", \"framing\": \"medium full (mid-thigh up)\", \"camera_height\": \"chest level\"}, {\"id\": \"cafe_morning_table_28\", \"category\": \"cafe\", \"archetype\": \"held_product_low\", \"difficulty\": \"medium\", \"scene\": \"A cozy minimalist neighbourhood cafe; a small round white-marble bistro table next to a large arched window; a wicker chair pulled up to the table; on the table a wide ceramic latte cup with milky foam art, a small wooden plate with a flaky golden croissant, an open hardcover book face-down; behind, a soft-focus cafe interior with brass pendant lights and exposed brick; soft morning city light through the arched window.\", \"outfit\": {\"style_brief\": \"Rust-orange knit with dark denim, slow weekday cafe pause.\", \"female\": \"A rust-orange ribbed knit short-sleeve sweater with a relaxed crew neckline showing the collarbones, tucked loosely into high-waist dark-wash straight-leg jeans with a slight crop hem, low-heeled brown leather slingback sandals. Small gold huggie hoops, layered thin gold necklaces, a thin gold cuff bracelet. Hair styled down in soft natural waves with a side part, subtle bronzy daytime makeup.\", \"male\": \"A rust-orange ribbed knit short-sleeve sweater with a relaxed crew neckline, paired with high-waist dark-wash straight-leg jeans with a slight crop hem, brown leather loafers. Hair styled neatly. A simple watch, no other accessories.\"}, \"pose\": \"Seated in the wicker chair at the bistro table, body angled three-quarters toward the camera, one leg crossed over the other, one hand wrapped around the warm ceramic latte cup, the other resting in the lap holding the box, looking softly out the window with a content half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand wraps lightly around the warm ceramic latte cup\"}, \"grip_or_placement\": \"Right hand rests in the lap at thigh level, the box held flat horizontally on top of the thigh with the thumb on the top edge near the back, index and middle fingers along the bottom face, ring and pinky tucked under, front face angled three-quarters up toward the camera - a relaxed casual hold, not a presentation grip.\", \"lighting\": \"Soft warm morning daylight through the large arched window on one side, a gentle directional wash across the face and the bistro-table surface, warm honey tones across the white marble and the front face of the box, deeper warm shadows on the cafe interior behind.\", \"mood\": \"slow weekday cafe pause, intentional pre-work moment\", \"palette\": \"rust orange, dark wash denim, warm white marble, golden latte foam, exposed brick\", \"framing\": \"three-quarter (chest up, bistro table surface visible at lower frame)\", \"camera_height\": \"across-table angle, chest level\"}, {\"id\": \"travel_hotel_morning_29\", \"category\": \"travel\", \"archetype\": \"placed_on_surface\", \"difficulty\": \"medium\", \"scene\": \"A premium boutique hotel room in the morning; a soft white linen-upholstered bed with rumpled cream sheets and a folded throw at the foot; a small warm-wood nightstand with a brass reading lamp, a ceramic dish for jewellery, a hardcover travel guidebook face-down, and the product box; an open cabin-sized leather travel bag on a luggage rack in the lower-left foreground with neatly folded clothes visible; tall floor-to-ceiling windows behind the bed opening to a blurred soft-focus sunlit balcony with potted greenery.\", \"outfit\": {\"style_brief\": \"Camel cashmere over light sleepwear, unhurried away-from-home morning.\", \"female\": \"A soft camel-colored cashmere oversized cardigan worn open over a thin white spaghetti-strap silk camisole and matching ivory satin pajama shorts with cream piping. Slouchy cream cashmere crew socks pushed down at the ankles. Hair styled down in soft natural morning waves with a slight side part, a small tortoiseshell claw clip holding the upper half in a half-up twist. A thin gold pendant, a thin gold cuff bracelet. Glowy fresh-morning skin, a touch of tinted lip balm.\", \"male\": \"A soft camel-colored cashmere oversized cardigan worn open over a plain white crew tee and matching soft grey cotton sleep shorts. Slouchy cream cashmere crew socks pushed down at the ankles. Hair styled lightly tousled, freshly woken. No accessories, glowy fresh-morning skin.\"}, \"pose\": \"Sitting on the edge of the hotel bed with the body angled three-quarters toward the camera and slightly toward the nightstand, one leg crossed casually over the other, one hand resting flat on the bedsheets beside the hip, the other brought up to lightly tuck a piece of hair back, looking softly toward the nightstand with a relaxed content half-smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": null, \"free_hand_action\": \"one hand rests on the bedsheets, the other lightly tucks hair behind the ear\"}, \"grip_or_placement\": \"The product box sits on the warm-wood nightstand directly to the subject's right, front face angled three-quarters toward the camera, positioned between the brass reading lamp and the hardcover travel guidebook as the central element of the morning travel arrangement. Morning window light falls softly across the box's front face.\", \"lighting\": \"Bright soft morning daylight pours through the tall floor-to-ceiling windows behind the bed, a backlit window with diffuse front-fill across the face and the front of the bed, warm honey tones across the cream sheets and the wood nightstand, a gentle warm wash on the box's front face, soft cool ambient shadows on the opposite side.\", \"mood\": \"travel morning, unhurried hotel ritual, away-from-home routine\", \"palette\": \"camel cashmere, ivory satin, cream linen, warm wood, soft morning gold\", \"framing\": \"three-quarter (head to mid-thigh, nightstand visible at right edge, travel bag at lower-left)\", \"camera_height\": \"chest level, slight angle toward the nightstand\"}, {\"id\": \"garden_terrace_morning_30\", \"category\": \"outdoor\", \"archetype\": \"held_product_high\", \"difficulty\": \"medium\", \"scene\": \"A private home terrace at morning golden hour; terracotta tile flooring with a subtle natural patina; low square planters along the edge holding small ornamental olive trees and trailing rosemary; a small round mosaic-topped table with a ceramic mug of coffee with visible steam and a small saucer with a single fresh fig; beyond the terrace railing a softly blurred warm Mediterranean cityscape with terracotta rooftops and soft hills.\", \"outfit\": {\"style_brief\": \"Cream linen warm-weather outfit, serene Mediterranean morning.\", \"female\": \"A cream linen sleeveless midi sundress with a deep V-neckline, a thin self-fabric belt cinched at the natural waist, a relaxed A-line skirt to mid-calf. Woven natural-fiber flat espadrille sandals just visible. Layered thin gold necklaces of varying lengths, a thin gold cuff bracelet, small gold huggie hoops. Hair styled down in soft natural beach waves with a slight side part, a touch of bronzer and tinted lip balm for a glowy bronzed look.\", \"male\": \"A cream linen short-sleeve camp-collar shirt worn relaxed with two top buttons open, paired with cream linen drawstring trousers, woven natural-fiber flat sandals just visible. Hair styled short and neat. A thin gold chain, otherwise minimal, glowy bronzed skin.\"}, \"pose\": \"Standing on the terrace at a slight three-quarter angle to the camera, weight on one leg with the opposite foot slightly forward, one hand resting lightly on the low planter wall, body angled toward the soft view beyond, looking softly toward the box held at chest level with a serene content smile.\", \"hand_assignment\": {\"phone_hand\": null, \"product_hand\": \"right\", \"free_hand_action\": \"the left hand rests lightly on the low planter wall\"}, \"grip_or_placement\": \"Right hand at upper-chest level held slightly forward of the body: thumb pressed flat on the front face near the top edge, index and middle fingers on the back edge, ring and pinky tucked under the bottom edge, box held vertically (long side vertical) with the front face angled gently toward the camera, catching the warm morning sun directly.\", \"lighting\": \"Strong warm morning golden-hour sunlight from a low angle on one side, a directional warm wash across that side of the body and across the front face of the box creating a warm golden rim, deep amber tones across the terracotta tiles, a soft cool sky-blue ambient fill from above.\", \"mood\": \"morning golden-hour terrace ritual, serene Mediterranean energy\", \"palette\": \"cream linen, terracotta tile, olive green, warm golden morning, soft sky\", \"framing\": \"medium full (mid-thigh up, terrace surface and planters visible)\", \"camera_height\": \"chest level, slight three-quarter angle\"}];\nconst scById = {}; for (const s of SCENARIOS) scById[s.id] = s;\nconst SCEN_ORDER = SCENARIOS.slice().sort((a, b) =>\n  String(a.id).localeCompare(String(b.id), undefined, { numeric: true }));\n\n// Load personas (with their tiktok_accounts joined for demographics)\nconst personas = await this.helpers.httpRequest({ method:'GET',\n  url: cfg.SUPABASE_URL + '/rest/v1/personas?select=*,tiktok_accounts(*)',\n  headers: H, json: true });\nif (!personas || personas.length === 0) return [];\n\n// What (persona, scenario) pairs already have a finished video?\nconst videosJoined = await this.helpers.httpRequest({ method:'GET',\n  url: cfg.SUPABASE_URL + '/rest/v1/videos?select=output_id,scenario_id,outputs(persona_id,scenario_id)',\n  headers: H, json: true });\nconst donePairs = new Set();\nconst personasWithVideo = new Set();\nfor (const v of (videosJoined || [])) {\n  const pid = v.outputs ? v.outputs.persona_id : null;\n  const sid = (v.outputs && v.outputs.scenario_id) || v.scenario_id;\n  if (pid != null && sid != null) { donePairs.add(pid+'::'+sid); personasWithVideo.add(pid); }\n}\n\n// Select personas per the three flags - same logic as before\nconst rawTikId = cfg.TIKTOK_ID;\nconst tikList = (rawTikId && rawTikId !== false && String(rawTikId).trim() !== '')\n  ? String(rawTikId).split(',').map(s => s.trim()).filter(Boolean) : [];\nlet selected;\nif (tikList.length > 0) {\n  const wanted = new Set(tikList.map(s => s.toLowerCase()));\n  selected = personas.filter(p => {\n    const tid = p.tiktok_accounts && p.tiktok_accounts.tiktok_id;\n    return tid && wanted.has(String(tid).toLowerCase());\n  });\n} else if (cfg.ONE_PER_PERSONA === true) {\n  selected = personas;\n} else {\n  selected = personas.filter(p => !personasWithVideo.has(p.id));\n}\n\n// Per selected persona, take next N undone scenarios\nconst N = Math.max(1, Number(cfg.MAX_VIDEOS_PER_RUN) || 1);\nconst jobs = [];\nfor (const p of selected) {\n  let taken = 0;\n  for (const sc of SCEN_ORDER) {\n    if (taken >= N) break;\n    if (donePairs.has(p.id+'::'+sc.id)) continue;\n    jobs.push({ json: {\n      persona_id: p.id,\n      persona_drive_file_id: p.drive_file_id,\n      gender: (p.tiktok_accounts && p.tiktok_accounts.gender) ? String(p.tiktok_accounts.gender).toLowerCase() : 'female',\n      country: p.tiktok_accounts ? p.tiktok_accounts.country : '',\n      age: p.tiktok_accounts ? p.tiktok_accounts.age : null,\n      scenario_id: sc.id,\n      scenario: sc\n    } });\n    taken++;\n  }\n}\nreturn jobs;\n"
      },
      "id": "93b47e0a-065d-4fa2-8427-2929049bac3c",
      "name": "O: Plan Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        2944
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Config1').first().json.PARALLEL_WORKERS || 5 }}",
        "options": {}
      },
      "id": "0e0c5cb0-eca2-49bc-a747-2fe1ba8bd40c",
      "name": "O: Split Into Parallel Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        2944
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('Config1').first().json.WORKER_WORKFLOW_ID }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "id": "6e470f76-0734-490b-85a6-be944643b555",
      "name": "O: Run Worker (parallel)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        368,
        2944
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-alluvi-pipeline",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d2423227-5982-42a3-abc1-8ce044fa20c5",
      "name": "Web Trigger (Webhook)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1552,
        2528
      ],
      "webhookId": "f9c2fd72-0717-42cc-b0f7-f98283071afc",
      "credentials": {
        "httpBasicAuth": {
          "id": "Fo9B1Yu5BkAveral",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════════════════\n//  ▼▼▼  CONFIG — EDIT EVERY VALUE IN THIS BLOCK, THEN SAVE  ▼▼▼\n// ════════════════════════════════════════════════════════════════════\nconst CONFIG = {\n  // ---- API KEYS ----\n  FAL_KEY:         'YOUR_FAL_KEY_HERE',\n  ANTHROPIC_KEY:   'YOUR_ANTHROPIC_KEY_HERE',\n\n  // ---- SUPABASE ----\n  // ---- SUPABASE ----\n    SUPABASE_URL:   'https://hgmvgnsvxlzcylfwttlc.supabase.co',   // no trailing slash\n  SUPABASE_SECRET: 'YOUR_SUPABASE_SECRET_HERE',\n\n\n  // ---- PRODUCT REFERENCE IMAGE FILE IDS (plain IDs, not URLs) ----\n PRODUCT_FILE_IDS: [\n    '10i08pjUJeFojyPXet4_AojZ9uSVcN1Cu',\n    '1Hgtdkqxz1Se0pXyN2LKiZG5u8BL34NIZ'\n  ],\n\n  \n      // ---- GOOGLE DRIVE FOLDER IDS (open the folder, copy the id in the URL)\n  DRIVE_PERSONAS_FOLDER_ID: '1r5z9i2XTfBM-QzVqDUVFidaVJjv_FXoJ',\n  DRIVE_OUTPUTS_FOLDER_ID:  '1Y-qCUx4MuK2FC_puRtSsNxtwPKi6wApI',\n\n\n  // ---- MODELS ----\n  ANTHROPIC_MODEL: 'claude-sonnet-4-6',     // writes the image prompts (fast + excellent)\n  QC_MODEL:        'claude-sonnet-4-6',     // vision QC\n  FAL_T2I_MODEL:   'fal-ai/nano-banana-pro',\n  FAL_EDIT_MODEL:  'fal-ai/nano-banana-pro/edit',\n\n  // ---- GENERATION SETTINGS ----\n  PERSONA_ASPECT:  '3:4',\n  SCENE_ASPECT:    '9:16',\n  QC_PASS_SCORE:   60,     // lenient QC: pass unless a real defect drags score below this\n\n  // ============================================================\n  //  RUN CONTROL  -  every run does FULL video creation\n  //  (scene image -> QC -> video). There is no image-only mode.\n  // ============================================================\n\n  // ONE_PER_PERSONA:\n  //   true  -> EVERY persona is processed this run. Each persona gets its\n  //            next N undone scenarios (N = MAX_VIDEOS_PER_RUN). Max\n  //            diversity: 10 personas, N=1 -> 10 videos, each a different\n  //            persona. No waiting for a persona to finish all 30.\n  //   false -> ONLY personas with NO video yet (newly added accounts\n  //            catching up). Each gets its next N scenarios.\n  ONE_PER_PERSONA: true,\n\n  // TIKTOK_ID:  targeting override. When set, ONE_PER_PERSONA is ignored.\n  //   false              -> not used\n  //   'tt_abc'           -> only that one account's persona\n  //   'tt_abc, tt_def'   -> several accounts (comma-separated tiktok_id values)\n  //   Each targeted persona gets its next N undone scenarios.\n  TIKTOK_ID: 'REPLACE_tiktok_handle_1',\n\n  // Scenarios processed PER PERSONA this run (lowest undone scenario ids\n  // first). Total videos = (personas selected) x this number.\n  // Keep the total within the n8n 40-min execution limit (~8-10 videos).\n  MAX_VIDEOS_PER_RUN:  5,\n\n  // QC retry loop: times ONE scene image is regenerated within a run when it\n  // fails QC. If still not clean after this many attempts, that SCENARIO is\n  // skipped (no video for it) and the planner moves to the persona's next\n  // scenario. Re-run later to retry skipped scenarios.\n  MAX_QC_ATTEMPTS:  3,\n\n  // ---- PHASE C: VIDEO (Seedance 2.0 on fal.ai) ----\n  // The brand/product .json you place in your Drive 'information' folder.\n\n  INFO_FILE_ID:        '1aOB0XqfaMiKzWPbKPuZnkxsvCLzq7lAi',\n  FAL_VIDEO_MODEL:     'bytedance/seedance-2.0/reference-to-video',\n  VIDEO_DURATION:      '15',         // seconds, string. Seedance native range \"4\"-\"15\".\n  VIDEO_RESOLUTION:    '1080p',      // '720p' or '1080p'\n  VIDEO_ASPECT:        '9:16',\n  VIDEO_GENERATE_AUDIO: true,        // native audio + lip-sync\n  // ============================================================\n  //  PARALLEL EXECUTION\n  // ============================================================\n  // Worker workflow ID - get this from the URL of the imported Worker\n  // workflow. Example URL: https://harveyd.app.n8n.cloud/workflow/AbCdEf123\n  // -> the ID is 'AbCdEf123'.\n  WORKER_WORKFLOW_ID: 'mNunpf2krfpVRpsX',\n\n  // How many videos to generate in parallel. Start at 5; raise to 10 or 20\n  // after testing fal API limits. Each parallel worker is one independent\n  // sub-workflow execution (does not count against the n8n Pro 20-concurrent\n  // limit). Total throughput per run = PARALLEL_WORKERS x MAX_VIDEOS_PER_RUN.\n  PARALLEL_WORKERS: 5,\n\n  // ============================================================\n  //  PHASE D  -  TikTok auto-post\n  // ============================================================\n  TIKTOK_AUTO_POST:    false,                 // true -> Phase D runs after Phase C\n  TIKTOK_CLIENT_KEY:   'PASTE_tiktok_client_key',\n  TIKTOK_CLIENT_SECRET:'PASTE_tiktok_client_secret',\n  TIKTOK_POST_PRIVACY: 'SELF_ONLY',           // 'SELF_ONLY' until app is audited, then 'PUBLIC_TO_EVERYONE'\n};\n// ════════════════════════════════════════════════════════════════════\nreturn [{ json: CONFIG }];\n"
      },
      "id": "246ded66-0fd0-4137-9ccc-e0fda34fad92",
      "name": "Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Emits ALL tiktok_accounts (keeps the workflow flowing), tagged needs_persona.\n// tiktok_accounts is the persona INPUT table (replaces the old signups table).\nconst cfg = $('Config1').first().json;\nconst H = { apikey: cfg.SUPABASE_SECRET };\nconst accounts = await this.helpers.httpRequest({\n  method:'GET', url: cfg.SUPABASE_URL + '/rest/v1/tiktok_accounts?select=*', headers:H, json:true });\nconst personas = await this.helpers.httpRequest({\n  method:'GET', url: cfg.SUPABASE_URL + '/rest/v1/personas?select=*', headers:H, json:true });\nif (!accounts || accounts.length === 0) {\n  throw new Error('The tiktok_accounts table is empty. Insert account rows in Supabase first.');\n}\nconst have = new Set((personas || []).map(p => p.tiktok_account_id));\nreturn accounts.map((a, i) => ({ json: { ...a, needs_persona: !have.has(a.id) }, pairedItem: { item: i } }));\n"
      },
      "id": "2ac82fc8-2315-4b56-9092-33da24741f67",
      "name": "A: Check Personas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        2528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d35c3a4a-2e35-4c96-8ff4-e49a3973cb0c",
              "leftValue": "={{ $json.needs_persona }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40c5dd28-a9bc-430e-800f-31d35e570a91",
      "name": "A: Has New Persona?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        2528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Builds the Anthropic request that writes each persona portrait prompt.\nconst cfg = $('Config1').first().json;\nconst PERSONA_SYSTEM = `You are a senior photographic casting director and prompt engineer. You write ONE text-to-image prompt for Google's Nano Banana Pro (Gemini 3 Pro Image) model.\\n\\nYOUR JOB: turn a short demographic brief into ONE richly detailed prompt that produces a photorealistic, casting-quality PORTRAIT of a real-looking person. This portrait becomes a locked identity reference reused across many later images, so it must be clean, neutral, evenly lit and unambiguous.\\n\\nHARD RULES:\\n- Output ONLY the prompt text. No preamble, no quotes, no labels, no commentary.\\n- Describe a REAL, natural, believable human whose appearance is demographically representative of the given country and age. Aim for an ordinary, authentic, naturally attractive person you would genuinely cast for a lifestyle ad - never a caricature or stereotype.\\n- Nano Banana Pro has a very large context window and rewards specificity. Write a long, dense, concrete paragraph.\\n- Use PHOTOGRAPHIC language: full-frame camera, 85mm portrait lens, aperture near f/2.8, soft natural window light, gentle shallow depth of field, a plain seamless neutral-grey or soft-neutral studio background.\\n- Demand REAL SKIN: visible pores, fine natural texture, subtle natural asymmetry, faint age-appropriate lines, natural skin sheen - explicitly natural and lifelike, never airbrushed, waxy, plastic or over-smoothed.\\n- Framing: a head-and-shoulders to mid-torso portrait, the person centred, facing the camera, with a relaxed, friendly-neutral expression and a soft natural look directly into the lens.\\n- Wardrobe: simple, plain, unbranded, solid-colour modern casual clothing. The outfit is deliberately minimal because it will be changed in later steps.\\n- The frame contains only the person against the background - a clean portrait.\\n- Use ONLY positive description. Nano Banana does not reliably honour negations.\\n- Lighting must be even and flattering so the face reads clearly as a reusable identity reference.\\n\\nWrite the prompt as flowing photographic prose.`;\nreturn $input.all().map((it, i) => {\n  const a = it.json;\n  const userMsg = 'Country / ethnicity context: ' + a.country\n    + '\\nGender: ' + a.gender + '\\nApproximate age: ' + a.age\n    + '\\n\\nWrite the portrait prompt for this person.';\n  return { json: {\n    account: a,\n    _url: 'https://api.anthropic.com/v1/messages',\n    _headers: { 'x-api-key': cfg.ANTHROPIC_KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n    _body: { model: cfg.ANTHROPIC_MODEL, max_tokens: 1500, system: PERSONA_SYSTEM, messages: [{ role: 'user', content: userMsg }] }\n  }, pairedItem: { item: i } };\n});\n"
      },
      "id": "b48a0cb1-50e0-4a8f-8c9a-a1ce729628f7",
      "name": "A: Build Persona Prompt Req1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        2128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json._headers) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 230000
        }
      },
      "id": "8ab75248-5188-48b6-9b6a-440fcabc639a",
      "name": "A: Write Persona Prompt1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        2128
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parses the persona prompt and builds the FAL text-to-image request.\nconst cfg = $('Config1').first().json;\nconst prev = $('A: Build Persona Prompt Req1').all();\nreturn $input.all().map((it, i) => {\n  const anth = it.json;\n  const carried = prev[i].json;\n  const prompt = (anth.content || []).filter(b => b.type === 'text').map(b => b.text).join('').trim();\n  return { json: {\n    account: carried.account, prompt,\n    _url: 'https://fal.run/' + cfg.FAL_T2I_MODEL,\n    _headers: { 'Authorization': 'Key ' + cfg.FAL_KEY, 'content-type': 'application/json' },\n    _body: { prompt, num_images: 1, output_format: 'png', aspect_ratio: cfg.PERSONA_ASPECT }\n  }, pairedItem: { item: i } };\n});\n"
      },
      "id": "0b989c0a-c538-46ea-bc6b-0012f8a3aff7",
      "name": "A: Build FAL t2i Req1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        2128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json._headers) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": {
          "timeout": 230000
        }
      },
      "id": "cf30ec5d-4671-4ed0-a357-4511e39d9d9a",
      "name": "A: Generate Persona Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        2320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Downloads the generated persona image and attaches it as binary.\nconst prev = $('A: Build FAL t2i Req1').all();\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const fal = items[i].json;\n  const carried = prev[i].json;\n  const url = fal && fal.images && fal.images[0] && fal.images[0].url;\n  if (!url) continue;   // FAL failed for this one - skipped, retried next run\n  const raw = await this.helpers.httpRequest({ method: 'GET', url, encoding: 'arraybuffer', timeout: 120000 });\n  const buf = Buffer.from(raw);\n  const filename = 'persona_acct' + carried.account.id + '.png';\n  out.push({\n    json: { tiktok_account_id: carried.account.id, persona_filename: filename, prompt_used: carried.prompt },\n    binary: { data: await this.helpers.prepareBinaryData(buf, filename, 'image/png') }\n  });\n}\nreturn out;\n"
      },
      "id": "17c7e03a-d453-4693-9f40-926da2aee116",
      "name": "A: Finalize Persona1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2320
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.persona_filename || $json.scene_filename || $json.video_filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1r5z9i2XTfBM-QzVqDUVFidaVJjv_FXoJ",
          "mode": "list",
          "cachedResultName": "personas",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1r5z9i2XTfBM-QzVqDUVFidaVJjv_FXoJ"
        },
        "options": {}
      },
      "id": "1092cf4f-1e52-4939-9c0d-561f60801e8f",
      "name": "A: Upload Persona1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        2320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "35ZnLJ9SfEawS46I",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inserts each persona into Supabase (upsert on tiktok_account_id).\nconst cfg = $('Config1').first().json;\nconst H = { apikey: cfg.SUPABASE_SECRET, 'content-type': 'application/json',\n            Prefer: 'return=representation,resolution=merge-duplicates' };\nconst gens = $('A: Finalize Persona1').all().map(i => i.json);\nconst byName = {};\nfor (const g of gens) byName[g.persona_filename] = g;\nconst out = [];\nfor (const item of $input.all()) {\n  const f = item.json;\n  const g = byName[f.name] || {};\n  const row = {\n    tiktok_account_id: g.tiktok_account_id, drive_file_id: f.id,\n    drive_url: f.webViewLink || ('https://drive.google.com/file/d/' + f.id + '/view'),\n    prompt_used: g.prompt_used || '', status: 'done'\n  };\n  const res = await this.helpers.httpRequest({\n    method: 'POST', url: cfg.SUPABASE_URL + '/rest/v1/personas?on_conflict=tiktok_account_id',\n    headers: H, body: row, json: true });\n  out.push({ json: { recorded_persona: Array.isArray(res) ? res[0] : res } });\n}\nreturn out;\n"
      },
      "id": "9d17c5f1-4088-4c0b-aa7f-c90b6cfa8b5a",
      "name": "A: Record Persona1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2320
      ]
    },
    {
      "parameters": {},
      "id": "cb3c4ef3-363e-4b1e-a66c-80ba9a4098a5",
      "name": "A: Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        112,
        2528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"started\", message: \"ALLUVI pipeline run started\", started_at: $now.toISO() }) }}",
        "options": {}
      },
      "id": "47137700-74e6-4b24-8fc5-bbd21c04f42f",
      "name": "Respond Started1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1376,
        2672
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "O: Plan Jobs": {
      "main": [
        [
          {
            "node": "O: Split Into Parallel Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O: Split Into Parallel Batches": {
      "main": [
        [],
        [
          {
            "node": "O: Run Worker (parallel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O: Run Worker (parallel)": {
      "main": [
        [
          {
            "node": "O: Split Into Parallel Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Trigger (Webhook)1": {
      "main": [
        [
          {
            "node": "Respond Started1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "A: Check Personas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Check Personas1": {
      "main": [
        [
          {
            "node": "A: Has New Persona?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Has New Persona?1": {
      "main": [
        [
          {
            "node": "A: Build Persona Prompt Req1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A: Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "A: Build Persona Prompt Req1": {
      "main": [
        [
          {
            "node": "A: Write Persona Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Write Persona Prompt1": {
      "main": [
        [
          {
            "node": "A: Build FAL t2i Req1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Build FAL t2i Req1": {
      "main": [
        [
          {
            "node": "A: Generate Persona Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Generate Persona Image1": {
      "main": [
        [
          {
            "node": "A: Finalize Persona1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Finalize Persona1": {
      "main": [
        [
          {
            "node": "A: Upload Persona1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Upload Persona1": {
      "main": [
        [
          {
            "node": "A: Record Persona1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Record Persona1": {
      "main": [
        [
          {
            "node": "A: Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A: Merge1": {
      "main": [
        [
          {
            "node": "O: Plan Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6e3966a1-65dc-4f27-8132-a31d86b0279e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "697d6abab60044c9e38a226cf712e693a901c5bdff25fcfa2e3876ed50e9063a"
  },
  "id": "Jd5oAEx3CZJWPSAX",
  "tags": []
}